{% extends 'base.html' %}


{% block content %}
    <h2>Информация о студенте</h2>
    <div>
        <p><strong>Имя:</strong> {{student.first_name}}</p>
        <p><strong>Фамилия:</strong> {{student.second_name}}</p>
    </div>
    <div>
        {% if student_marks %}
        <h3>Баллы</h3>
        <ul>
            {% for mark in student_marks %}
            <li>{{mark.value}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <a href="/student/{{student.id}}/addmark" class="btn btn-success">Добавить балл</a><br><br>
    <form method="post">
        {% csrf_token %}
        <input type="submit" name="delete_student" value="Удалить студента" class="btn btn-secondary">
    </form>
{% endblock %}
